:root {
    --ff: 'Outfit';
    --fs: 15px;
    --fw-400: 400;
    --fw-700: 700;

    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --dark-gray: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html, body {
    height: 100%;
}

body {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-card {
    background-color: var(--white);
    border-radius: 15px;
    max-width: 310px;
}

.qr-card__image {
    border-radius: 15px;
    max-width: 280px;
    width: 100%;
    margin: 15px 15px 0;
}

.qr-card__section {
    margin: 0 0 30px;
}

.qr-card__section-header {
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: var(--fw-700);
    font-family: var(--ff);
    margin: 0 auto;
    width: 80%;
    padding: 25px 0;
    text-align: center;
}

.qr-card__section-text {
    color: var(--dark-gray);
    font-size: var(--fs);
    font-weight: var(--fw-400);
    font-family: var(--ff);
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
